.idea
node_modules
node_modules1
*.iml
assets
themeAssets/assets
themeAssets/sass
npm-debug.log
**/*.DS_Store
tmp
bin

flow.js

**/swagger/
public/css/fixed-data-table.css

public/**/*.map

.vscode

public/build*
public/index.html
public/vendor.bundle.js
public/backend.html

public/img/apps/
src/app/components/common/widget-box/
src/app/container/
src/app/packages/
src/app/presenters/
src/img/

.env.js
