.idea
node_modules
*.iml
assets
themeAssets/assets
themeAssets/sass
npm-debug.log
**/*.DS_Store
/tmp
/tmp/*
tmp/*

/bin
/bin/*
bin/*

**/swagger/
public/img/apps/
src/app/components/common/widget-box/
src/app/container/
src/app/packages/
src/app/presenters/
src/img/
