/* here you can put your own css to customize and override the theme */
body {
  overflow-x:hidden ;
}
.top-action-header {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 17px;
}
.CSSAnimationChart a {
  display: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
ul , li {
  list-style: none;
}
.from-control.inline {
  display: inline;
}
.dashboard-stat2 .display .number small:last-child {
  font-size: 11px;
  color:#cbd4e0;
}
.user-type .dropdown-toggle {
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.user-type .dropdown-toggle i {
  padding-#{$dir-mode-align-inverse}:3px;
}

.mb2 {
  margin-bottom: 2em;
}
.icon-fw {
  width: 1.33em;
  margin-right: 4px;
  text-align: center;
}
.mar-no {
  margin: 0!important;
}
.btn.btn-lg i {
  position: relative;
  top: 2px;
}
.dataTables_length input  , .dataTables_length select{
  margin: 0 5px;
}
//.panel-colorful * {
//  color: $widget-color-white;
//}
//.btn i {
//  position: relative;
//  top: 3px;
//  #{$dir-mode-align}: -7px;
//}
.btn-arrow-text i {
  position: relative;
  top: 1px
}
.btn-icon-only i {
  position: relative;
  top: 1px;
  #{$dir-mode-align}: -5px;
}
.big-padding {
  padding: 6em 0 !important;
}
.space-btn button {
  margin-#{$dir-mode-align-inverse}: 5px;
}
.preview-image-holder {
  height: 288px;
  background: #eee;
  border-radius: 10px;
  border: 2px dashed #aaa;
  margin-top: 40px;
}
.preview-image img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
video.full {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.table-holder {
  position: relative;
}
.loader-table {
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  background: rgba(255,255,255,0.9);
}
.table-holder .loader-table i {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  color: $brand-primary;
}
#bp_caption span {
  text-align: $dir-mode-align;
  display: block;
  font-size: 14px;
  line-height: 2;
}
.custom-color {
  background: #eef1f5 !important;
}
.dropdown-toggle i {
  margin: 0 6px 0 0;
}
table .thumbnail-image {
  max-width: 50px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width:1290px) and (min-width:1000px) {
  .dashboard-stat2 .display .number small {
    font-size: 10px;
  }
}

@media screen and (max-width:1150px) and (min-width:1000px) {
  .dashboard-stat2 .display .number {
    width: 100%;
  }
  .stat-chart {
    float:none;
    width: 100%;
  }
  .stat-chart canvas {
    margin: 0 auto;
    display: block !important;
  }
}
.form-group {
  label {
    width: 100%;
    color: #7b7b7b;
    text-align: #{$dir-mode-align};
  }
}